html,
body {
margin: 30px;
padding: 0;
font-family:courier !important;
}
* {
box-sizing: border-box;
}
table {
    width: 100%;
    border: 2px solid black;
}
@page {
size: A4;
margin: 0;
}
@media print {
table {
    max-height: 100% !important;
    overflow: hidden !important;
    page-break-after: auto;
}
}

.title {
    font-size:1.2em !important;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black;
}

.tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

.titlesize {
    font-weight: bold;
    font-size: 12px;
}

.textsize {
    font-size: 10px;
}