/* Use this for linking local font file */
@font-face {
    font-family: 'Quattrocento-Regular';
    src: url('../../webroot/font/google_fonts/Quattrocento-Regular.ttf');
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: arial;
}

input,input::placeholder, select {
    font-size: 12px !important;
    font-family: arial !important;
}

/* mainNav */
ul.navMenu > li, ul.nav-pills > li {
    margin-right: 30px;
}

/* Top Bar */
ul.topbar > li.nav-item {
    margin-right: 10px;
}


.searchHighlight {
    background-color: rgb(255, 130, 130);
}

.login a:hover {
    background-color: #277fe1;
    color: rgb(255, 255, 255);

}

.mainNav {
    height: 50px;
    background-color: #3793f7 !important;
    padding-left: 255px !important;
    font-size: 1.5rem;
}

.topbar {
    background-color: #e9ecef;
    max-height: 54px;
}

.topbarchange {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.sidenavchange {
    position: fixed !important;
    top: 55px;
    z-index: 99;
    margin-top: 10px !important;
}


#sidenav > ul {
    width: 220px;
}


.dataentrychange {
    top:55px;

}

#chooseFile {
    display: none;
}

.searchmodal {
    left: -195px;
    width: 135%;
}

.subtabtitle {
    font-family: 'Quattrocento-Regular';
    text-align: center;
    font-size: 3.5em;
    color:#ffc107;

}

.modalheader {
    font-size: 2.5em;
    margin-left: 30px;
    width: 100%;
}

.duedate {
    font-size: 20px;
    text-align: left;
    padding-left: 10px !important;
}

.arrow {
    position: relative;
    top: -10px;
    font-size: 25px;
    color: teal;
}

.qco {
    color: rgb(0, 152, 247);
    cursor: pointer;
}

/* Making the search table color can be easily recognized */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* mainNav hover */
.myaccount:hover > .dropdown-menu {
    display: block;
}


/* Sidenav Dropdown hover effect */
.dropright:hover > .dropdown-menu {
    display: block;
}


.caseList{
    width: 410px;
    height: 300px;
}

#sidenav > ul > li {
    min-width: 85px;
}

.selval {
    background-color: #277fe1;
}

.selval > a,.selval > a:hover  {
    color: white;
}

.secdiff {
    display: flex;
    flex-direction: column;
}

.fieldInput {
    background-color: #ddebff;
    padding:0 20px;
    margin-bottom: 40px;
    font-family: Arial;
    font-size: 12px;
}


.secdiff > .secspace > nav {
    font-size: 15px;
}

.secspace > nav > ul > li {
    margin-right: 0;
}

.secdiff:nth-child(odd) {
    background-color: #f3f1f1;
    padding: 20px;
    margin: 20px 0px;
}

.secdiff:nth-child(even) {
    padding: 20px;
    margin: 20px 0px;
}

.prodiff:nth-child(odd) {
    padding: 20px;
}

.prodiff:nth-child(even) {
    background-color: #f3f1f1;
    padding: 20px;
}


#choosecon, #choosewf, #choosecro, .defworkflow {
    display: none;
}

.custworkflow {
    display: none;
    cursor: -webkit-grab;
    cursor: grab;
}

.custworkflow:active {
    display: none;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.custworkflow ul, #choosewf ul {
    list-style-type: none;
}

.card-body > button {
    position: relative;
    top: -8px;
}

#draggable {
    border: 3px dotted #7e7e7e;
    padding: 10px;
}

#draggable > div {
    background-color: rgba(247, 241, 183, 0.87);
}

.ui-state-highlight {
    height: 100px;
    border-color: red;
}

#draggable > .card > .card-body > button {
    display: none;
}

.workflow span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 17px;
}

.workflow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.workflow:hover span {
  padding-right: 25px;
}

.workflow:hover span:after {
  opacity: 1;
  right: 0;
}

hr.wfhr {
    border-top: 2px dotted lightgrey;
}

.header-section {
    display: -webkit-inline-box;
}

.addbtnalert {
    display: none;
    text-align: center;
    padding: 5px 15px !important;
    height: 38px;
}

.secpag {
    display: -webkit-inline-box;
}

.selection > .select2-selection {
    height: 37px !important;
    border-color: lightgrey !important;
}

/* Assign Personnel */
#dropZone {
    width: 58%;
}
.personnelarea {
    width: 37%;
    min-height: 407px;
}
.personnel {
    width: 75px;
    padding: 5px 10px;
    margin:5px;
    border:1px solid #ccc;
    background-color: #eaeaea;
    display: inline-grid;
}
.stack {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    margin: 20px;
}
.stackHdr {
    background-color: #eaeaea;
    border: 1px solid #fff;
    padding: 5px
}
.stackDrop1, .stackDrop2 {
    min-height:100px;
    padding: 15px;
}

.checkboxstyle {
    width: 25px;
    height: 20px;
    position: relative;
    top: 2px;
}

.priSr {
    position: relative !important;
    top: 36px;
    right: 100px;
}

.gobackstep {
    font-size: 20px;
    position: relative;
    top: 5px;
    right: 5px;
    color: rgb(255, 193, 7);
}

.backSteps {
    position: absolute !important;
    top: 15px;
    right: 20px;
}

/* Style for top message bar */
.msgbar {
    text-align: center;
    font-size: 22px;
    width: 75%;
    position: fixed;
    left: 12%;
}

.msgbarBtn {
    position: relative;
    top: 5px;
    font-size: 30px;
}

.showpagination {
    position: relative;
    top: -60px;
    right: 15px;
    cursor: pointer;
}

.resourceDropzone {
    min-height: 140px;
    min-width: 300px;
}

.searchProductContainer {
    width: max-content;
    min-width: -webkit-fill-available;
    position: relative;
    right: 135px;
}

.closewf {
    display: none;
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 2px;
    color: red;
}

.closewa {
    font-size: 22px;
    position: absolute;
    top: 5px;
    right: 12px;
    color: red;
}

.DE_search_bar, .queryBoxTable, #caseRegAdvBtn{
    cursor: pointer;
}

ul.queryBoxLeft > a {
    width: 100%;
    padding: 12px;
}

.queryBoxActive, ul.queryBoxLeft > a:hover {
    background-color: #dee2e6;
}

ul.queryBoxLeft > a {
    text-decoration: none;
    color: #000000b8;
}


.querybox:hover{
    color: #007bff !important;
}

.navInner {
    width: 80%;
}

.reqField {
    color: red;
    font-size: 8px;
    position: relative;
    top: -5px;
    left: 3px;
}

#navbarNavDropdown > ul > li {
    margin-left: 20px;
}
#navbarNavDropdown > ul > li > a.nav-link{
    color:rgba(225,225,225);
    font-weight: bolder;
}
#navbarNavDropdown > ul > li > a.nav-link:hover{
    background-color:#ffc107;
    color:rgba(0,0,0);

}
#navbarNavDropdown > ul > li > a.active{
    color:rgba(0,0,0);
}

.queryBackBtn {
    font-size: 30px !important;
    margin-top: -50px;
    margin-left: -10px;
}

.DEpagination {
    display: inherit;
    margin-top: 2px;
    cursor: pointer;
}

/* Meddra browser */
.lltQuickSearch {
    position: absolute !important;
    top:-45px;
    left: 190px;
}

.meddralabel{
    line-height:25px;
}

.meddralabel:hover{
    background-color: #007bff;
}

[id^="meddraQuickSearch_"]{
    position:absolute;
    z-index: 99;
    background-color:white;
    max-height: 225px;
    line-height: 25px;
    overflow-y: scroll;
    font-family:Arial,sans-serif;
    font-size:15px;
    width: 310px;
}

[id^="quickSearchResult"]:hover{
    background-color: #ffc107;
}

.lltQuickSearchForCaseReg {
    top: -34px !important;
}

[id^="pagination-l2"] {
    position: relative;
    top: -60px;
    right: -12px;
}

#nav-tab > a.active {
    color: #007bff !important;
    font-weight: 700;
    background-color: white !important;
    border-top-color:#007bff;
    border-top-width: 3.5px;
}

#nav-tab > a.nav-item {
    color: #000000;
    background-color: #eee;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);

}
/* .form-row{
    line-height:0.8;
} */
.topNav{
    background-color: aliceblue;
}
.tab-content{
    border-left:1px solid rgba(0, 0, 0, 0.1);
    border-right:1px solid rgba(0, 0, 0, 0.1);
    margin-top: -16px;
}
.folder .header-section{
    padding-top: 10px;
    padding-left: 10px;
}
.folder .fieldInput{
    background-color:rgba(135,172,213,0.25);
}
#folder-39{
    padding:0 20px;
    background-color:#ddebff;
}
.nested-section.layer-2{
    padding: 30px;
}

 .btn[title="add"]{
    display:inline-block;

}
.card{
    display:block;
}
/* table row selected */
.table tbody tr:nth-child(odd){
    background-color: #b5d0f7;
}
.table thead tr{
    background-color: #7ea4e2;
    text-align: center;
}
.table tbody tr:hover {
    color: #212529;
    background-color: #ffc107 !important;
}
#caseTable tbody tr:nth-child(even){
    background-color: #ddebff;
}
.selected-row{
    background-color: #ffc107!important;
}
/*general tab:upload document button*/

.doctable tbody tr:nth-child(odd){
    background-color: #b5d0f7;
}
.doctable thead tr{
    background-color: #7ea4e2;
    text-align: center;
}
.doctable tbody tr:hover {
    color: #212529;
    background-color: #ffc107 !important;
}
/* radio button css */
.custom-radio{
    margin-top:10px;
    margin-left:10px;
}
/* select bar highlighted */
.pagination li.selected-page{
    font-weight: bold;
}
/* Dashboard "Show xxx entries" on top/bottom */
#caseTable_length{
    margin-left: -510px;
}
#caseTable_info{
    margin-left: -340px;
}
/*add product permission collapse */

.panel-title > a.collapsed:before {
    float: left !important;
    content:"+";
}
.panel-title > a:before {
    float: left !important;
    font-family: FontAwesome;
    content:"-";
    padding-right: 5px;
}

.flag {
    width: 30px;
    height: 20px;
    transition: transform .3s;
}

.flag:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.dataentry {
    display: inline-block;
    position: relative;
    left: 290px;
}


#sidenav {
    position: absolute;
    width: 200px;
    left: 80px;
    margin-top: 70px;
}

.formContainer {
    width: 90%;
    font-size: 12px;
}

/* Change layout while Print */
@media print {
    #sidenav, .topNav, .gotop {
        visibility: hidden;
    }
    body, .dataentry {
        position: absolute !important;
        width: 100% !important;
        left: -140px !important;
    }
}

/* Responsive Display */
@media (max-width: 1024px) {
    .dataentry {
        left: 140px !important;
        width: 85%;
    }
 }

@media (min-width: 1025px) and (max-width: 1440px) {
    .modalStyle{
        position: absolute;
        width: 1230px;
        right: -210px;
    }
    .dataentry{
        width: 80%;
        left: 230px;
    }
    #sidenav {
        left: 20px !important;
    }
    .sidenavchange {
        top:110px;
    }
}

/* Default setting for most screen */
@media (min-width: 1441px) and (max-width: 1920px) {
    .modalStyle{
        position: absolute;
        width: 1800px;
        right: -500px;
    }
    .dataentry {
        width: 80%;
    }
}

@media (min-width: 1921px) {
    .modalStyle{
        position: absolute;
        width: 2200px;
        right: -690px;
    }
    .dataentry{
        width: 85%;
    }
}
